<% set_page_title 'About' %>
<% set_page_description 'Effortless nutrition every day - save time and money batch making meals with Instant Pot.' %>

<div class='page-margin page-margin--standard page-holder'>
  <h1 class="align-center">Effortless nutrition every day</h1>
  <p>Being healthy doesn't excite me. If it did, I'd probably be content cooking something different every night.</p>
  <p>What does excite me? Saving money mostly. But as a software engineer, clever systems that get things done with minimal effort do too.</p>
  <p>So fortunately for me, I stumbled on a clever system that saves me money, but has also transformed my energy levels and now I can't put it down. That system is batch making meals with an <%= link_to 'Instant Pot', instant_pot_link, target: '__blank', class: 'link' %>.</p>

  <p>Before Instant Pot, I was in a slump. For the fifth time in one night I found myself making excuses for getting off the sofa. Why was it so hard? My diet of chicken nuggets and oven chips every night was weighing heavily on my motivation to take basic care of myself.</p>

  <p>Pot Batch is a place to keep recipes I can batch cook and freeze in <%= link_to 'tubs', tub_link, target: '__blank', class: 'link' %> so I always have a tasty range of ready meals to choose from that are cheap and nutritious.</p>
</div>
