<% set_page_title 'About' %>
<% set_page_description 'Effortless nutrition every day - save time and money batch making meals with Instant Pot.' %>

<div class='page-margin page-margin--standard page-holder'>
  <h1 class="align-center">Effortless nutrition every day</h1>
  <p>They say <%= link_to 'automation is the key to achieving your financial goals', 'https://lifehacker.com/how-to-automate-your-finances-and-save-money-explained-1723625611', target: '__blank', class: 'link' %>, and while most people can't afford a robot to cook for us, we can get pretty close with an <%= link_to 'Instant Pot', instant_pot_link, target: '__blank', class: 'link' %> and some easy recipes for batch freezing.</p>
  <p>What's more exciting to me than healthy eating? Saving money mostly, and as a software engineer, clever systems that get things done with minimal effort excite me too.</p>
  <p>Batch cooking meals and freezing them in <%= link_to 'tubs', tub_link, target: '__blank', class: 'link' %> is a clever system that saves money, but it also transformed my energy levels.</p>

  <p>Pot Batch is a place to keep recipes you can batch cook and freeze in <%= link_to 'tubs', tub_link, target: '__blank', class: 'link' %> so I always have a tasty range of ready meals to choose from that are cheap and nutritious.</p>
</div>
