$from-small:'(min-width: 480px)';
$from-medium:'(min-width: 648px)';
$from-large:'(min-width: 900px)';
$from-xlarge:'(min-width: 1280px)';
$from-xxlarge:'(min-width: 1600px)';

$to-small:'(max-width: 480px)';
$to-medium:'(max-width: 648px)';
$to-large:'(max-width: 900px)';
$to-xlarge:'(max-width: 1280px)';
$to-xxlarge:'(max-width: 1600px)';
