/*
 *= require_self
 */

@import 'colours';
@import 'typography';
@import 'breakpoints';
@import 'mixins';
@import 'layout';
@import 'modules/flash';
@import 'modules/button';
@import 'modules/navbar';
@import 'modules/facts';
@import 'modules/recipes';

.align-center {
  text-align: center;
}

.field_with_errors {
  input {
    border-color: red;
  }
}

.page-margin {
  margin: 2.5em auto;
  padding: 0 10px;
}

.page-margin--standard {
  max-width: 32em;
}

.page-holder {
  min-height: 72vh;
}
