<nav class="navbar">
  <h1 class="navbar__brand">
    <%= link_to root_path do %>
      <i class='fa fa-heart'></i> Pot Batch
    <% end %>
  </h1>
  <h2>
    <span class="navbar__menu-item"><%= link_to 'About', about_path %></span>
  </h2>
</nav>
